 .title {
    color: white;
}

#head .tagline {
    color: white;
}

#head .tagline a {
    color: white;
    text-decoration: none;
}

.details a {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}